/*
Theme Name: Aspen Grove
Theme URI: https://github.com/starverte/aspen-grove.git
Author: Star Verte LLC
Description: Child theme of Flint. Theme originally developed for Wette Integrative Therapy Inc. for a physical therapy practice website.
Version: 0.0.2
License: GPLv3
License URI: LICENSE.md
Tags:
Template: flint
Template Version: 1.3.9

    Copyright 2015 Star Verte LLC (email : dev@starverte.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@import url(../flint/style.css);

/* =Global
----------------------------------------------- */
body,
button,
input,
select,
textarea {
}
html,
body {
}
article {
}
b, strong {
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
img, video {
}
hr {
}
section {
  overflow: auto;
  font-size: 27px;
}
.label {
}
#page {
}


.section-title {
  font-size: 36px;
  font-weight: 600;
}
.condition-item {
  font-size: 27px;
  font-weight: 400;
  text-align: center;
  list-style: none;
}
.condition-desc, .aspen-text, .address, .contact-labels {
  font-size: 21px;
  font-weight: 400;
}
.callout-header {
  font-size: 30px;
  font-weight: 600;
}

.bg-green-light {
  color: #2a581c;
  background-color: #fafcf9;
}
.bg-green-dark {
  color: #fff;
  background-color: #367024;
}
.row {
  margin-right: none;
  margin-left: none;
}


/* Alignment */
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.aligncenter {
}
.alignnone {
}
.topright {
  float: right;
  margin-top: -3.5em;
}


/* =Header
----------------------------------------------- */

#top-pad {
}


/* =Content
----------------------------------------------- */

.bypostauthor {
}
.entry-title {
}
.btn-edit {
}
.sticky {
}
.byline {
}
.more-link {
}
.page-links {
}
#primary {
}
.page-header {
}
.pw {
}


/* =Media
----------------------------------------------- */



/* =Navigation
----------------------------------------------- */
.navbar {
  min-height: 70px;
  margin-bottom: 0;
}
.navbar-aspen-grove {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-aspen-grove .navbar-brand {
  height: 70px;
  color: #777;
}
.navbar-aspen-grove .navbar-brand:hover,
.navbar-aspen-grove .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-aspen-grove .navbar-text {
  color: #777;
}
.navbar-aspen-grove .navbar-nav > li > a {
  color: #777;
}
.navbar-aspen-grove .navbar-nav > li > a:hover,
.navbar-aspen-grove .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-aspen-grove .navbar-nav > .active > a,
.navbar-aspen-grove .navbar-nav > .active > a:hover,
.navbar-aspen-grove .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-aspen-grove .navbar-nav > .disabled > a,
.navbar-aspen-grove .navbar-nav > .disabled > a:hover,
.navbar-aspen-grove .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-aspen-grove .navbar-toggle {
  margin-top: 18px;
  margin-bottom: 18px;
  border-color: #ddd;
}
.navbar-aspen-grove .navbar-toggle:hover,
.navbar-aspen-grove .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-aspen-grove .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-aspen-grove .navbar-collapse,
.navbar-aspen-grove .navbar-form {
  border-color: #e7e7e7;
}
.navbar-aspen-grove .navbar-nav > .open > a,
.navbar-aspen-grove .navbar-nav > .open > a:hover,
.navbar-aspen-grove .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-aspen-grove .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-aspen-grove .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-aspen-grove .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-aspen-grove .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-aspen-grove .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-aspen-grove .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-aspen-grove .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-aspen-grove .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-aspen-grove .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-aspen-grove .navbar-link {
  color: #777;
}
.navbar-aspen-grove .navbar-link:hover {
  color: #333;
}
.navbar-aspen-grove .btn-link {
  color: #777;
}
.navbar-aspen-grove .btn-link:hover,
.navbar-aspen-grove .btn-link:focus {
  color: #333;
}
.navbar-aspen-grove .btn-link[disabled]:hover,
fieldset[disabled] .navbar-aspen-grove .btn-link:hover,
.navbar-aspen-grove .btn-link[disabled]:focus,
fieldset[disabled] .navbar-aspen-grove .btn-link:focus {
  color: #ccc;
}
.navbar-aspen-grove img {
  width: auto;
  max-height: 45px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px ) {
  .navbar {
    min-height: 90px;
  }
  .navbar-aspen-grove .navbar-brand {
    height: 90px;
  }
  .navbar-aspen-grove .navbar-nav,
  .navbar-aspen-grove .navbar-right {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-aspen-grove img {
    max-height: 65px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) {
  .navbar {
    min-height: 100px;
  }
  .navbar-aspen-grove .navbar-brand {
    height: 100px;
  }
  .navbar-aspen-grove .navbar-nav,
  .navbar-aspen-grove .navbar-right {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .navbar-aspen-grove img {
    max-height: 75px;
  }
}


/* =Comments
----------------------------------------------- */

#comments {
}


/* =Widgets
----------------------------------------------- */

.widget {
}


/* =Footer
----------------------------------------------- */

#colophon {
}
.site-info {
}
#credits {
}
